{% extends "layout.html" %}

{% block title %}
    skill
{% endblock %}

{% block main %}
<main>
    <article>

      <section class="skills" id="skills">
        <div class="container">

          <h2 class="h2 section-title">MY SKILLS & CERTIFICATION</h2>

          <div class="skills-wrapper">

            <div id="progress-bar">
              <h5>Problem Solving</h5>
              <div class="progress">
                <div class="progress-value p90"> 90% </div>
              </div>
              <br>

              <h5>Critical Thinking</h5>
              <div class="progress">
                <div class="progress-value p80"> 80% </div>
              </div>
              <br>

              <h5>C++</h5>
              <div class="progress">
                <div class="progress-value p50"> 50% </div>
              </div>
              <br>

              <h5>Java </h5>
              <div class="progress">
                <div class="progress-value p70"> 70% </div>
              </div>
              <br>

              <h5>Python </h5>
              <div class="progress">
                <div class="progress-value p50"> 50% </div>
              </div>
              <br>
            </div>

            <div class="skills-content">



              <p class="skills-content-text">
                <ul class="list-group">
                  <li class="list-group-item active" style="background:hsl(185, 32%, 58%);" aria-current="true">Certification</li>
                  <li class="list-group-item">UX Design By Udacity
                  </li>
                  <li class="list-group-item">Web Development By Udemy</li>
                  <li class="list-group-item">CS50 Intro to CS By Harvard</li>
                  <li class="list-group-item">CS50 Intro to AI By Harvard</li>
                </ul>
              </p>


            </div>

          </div>

        </div>
      </section>

    </article>
  </main>
{% endblock %}
